/* reset the code and common body of style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: "roboto";
}

html{
  background-color: whitesmoke;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
/* header section start */
.header1 {
  text-align: center;
  color: blueviolet;
  font-size: 40px;
}
.header2 {
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}
#menu-icon ul li{
  position: sticky;
}
.logo {
  color: white;
  padding-top: 16px;
  padding-right: 15px;
  /* padding-left: 15px; */
}

ul {
  overflow: hidden;
  padding-left: 60px;
  height: 50px;
  font-size: 15px;
  /* text-align: center; */
}

li {
  float: left;
  transition: all 0.4s;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: blue;
  border-radius: 5px;
}


/* responsiveness for navbar */

@media screen and (max-width:992px) {
  
}

@media screen and (max-width:768px) {
  html{
    font-size: 55.5%;
  }
  banner_article{
    width: 70% ;
  }
}

@media screen and (max-width:600px) {
  html{
    font-size: 35.5%;
  }
  .banner_article{
    font-size: 30%;
  }
  .blog_main_part{
    flex-direction: column;
  }


}
/* header section ends */

/* banner section starts here */

.blog_main_part{
padding-top: 10px;
 padding-left: 3%;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 50vh;
}

.banner_heading{
  display: inline;
 
  font-size: 30px;
  color:blueviolet;
  /* padding-bottom: 5px; */
  background-color: aqua;
}
.banner_descrition{
  padding-top: 20px;
  font-size: 15px;
  
}
 /* .banner_article{
  flex-basis: 50%;
} */
/* .banner_aside{
  flex-basis: 50%;
} */
.cover_img{
  width: 50rem;
  height: 55rem;
  padding-right: 10px;
}


/* about me section starts here */

.blog_about{
  background-color: burlywood;
  margin-top: 30px;
  margin-left: 20px;
}

.about_header{
  padding-left: 50%;
  font-size: 30px;
  color: blue;
  font-style: italic;
}
.cards{
  display: flex;
  align-items: center;
  gap: 1 rem;
  margin-top: 20px;
}

.card{
  flex: 1;
  border-radius: 0.6rem;
  border: 1px solid black;
  background-color: gray;
  padding: 3rem 1rem;
  margin: 2rem;
  transition: all 0.3s;
}

.card:hover{
  transform: scale(1.1);
}
.card_button{
  margin-top: 10px;
  box-shadow: 0.1rem 0.1rem 0.1rem color(srgb red green blue);
}


/* <!-- archive section start --> */
.blog_archive{
  padding-top: 30px;
 height: 500px;
}

.archive_head{
  font-weight: 30px;
  font-size: 30px;
  font-style: italic;
  padding-left: 50%;
  padding-top: 30px;
}

.archive_img img{
  
  margin-left: 70px;
  padding-top: 30px;
  width: 256px;
  height: 186px;
  padding: 10px;
  border-radius: 25px;
}

.archive_img img:hover{
  transform: scale(1.1);
}
.archive_imges{
  display: flex;
  align-items: center;
  justify-content: center;
}



/* <!-- blog post section starts --> */

.blog_post{
  height: 1200px;
}
.heading{
  font-weight: 400px;
  font-size: 50px;
  color: grey;
 font-style: italic;
 padding-left: 50%;
 padding-bottom: 40px;
}
.blog_img img{
  width: 400px;
  height: 270px;
}

.blog_detail h1{
  padding-top: 50px;
  padding-left: 20px;
  font-size:50px ;
  font-weight: 200;
  color: gray;

}
.blog_detail h4{
  font-size:25px ;
  padding-left: 20px;
  font-weight: 150;
  color: blue;
  padding-top: 10px;
  
}
.blog_detail p{
  font-size:20px ;
  padding-left: 20px;
  font-weight: 100;
  color: darkblue;
  padding-top: 10px;
}

.Blog_post_button{
 margin-left: 20px;
  background-color: orange;
  color: black;
  margin-top: 10px;
  width: 180px;
  height: 50px;
  font-weight: 300px;
  font-size: 20px;
  border-radius: 10%;

}

.blogs{
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 80px;
  border-radius: 2%;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 20px;
}

.blogs:hover{
  transform: scale(1.1);
}


/* <!-- contact me section starts here --> */


.contact_me{
  background-color: aqua;
  margin-left: 30%;
  margin-right: 30%;
  width: 500px;
  height: 380px;
  margin-top: 10px;
 
}
.contact_heading{
  text-align: center;
  font-weight: 200px ;
  font-size: 50px;
  padding-top: 10px;
  font-style: italic;
   
}
.form{
  padding-left: 30%;
  padding-top: 30px;
  margin-right: 80px;
}

.form1{
  text-align: center;
}