/* reset the code and common body of style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: "roboto";
}

html{
  background-color: whitesmoke;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
/* header section start */
.header1 {
  text-align: center;
  color: blueviolet;
  font-size: 20px;
}
.header2 {
  width: 100%;
  background-color: black;
  position: sticky;
  z-index: 10;
}
.logo {
  color: white;
  padding-top: 16px;
  padding-right: 15px;
  /* padding-left: 15px; */
}

ul {
  overflow: hidden;
  padding-left: 60px;
  height: 50px;
  font-size: 15px;
  /* text-align: center; */
}

li {
  float: left;
  transition: all 0.4s;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: blue;
  border-radius: 5px;
}


/* responsiveness for navbar */

@media screen and (max-width:992px) {
  
}

@media screen and (max-width:768px) {
  html{
    font-size: 55.5%;
  }
  banner_article{
    width: 70% ;
  }
}

@media screen and (max-width:600px) {
  html{
    font-size: 35.5%;
  }
  .banner_article{
    font-size: 30%;
  }
  .blog_main_part{
    flex-direction: column;
  }


}
/* header section ends */

/* banner section starts here */

.blog_main_part{
  padding-top: 20px;
 padding-left: 3%;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 95vh;
}

.banner_heading{
  display: inline;
  font-size: 30px;
  color:blueviolet;
  /* padding-bottom: 5px; */
  background-color: aqua;
}
.banner_descrition{
  padding-top: 20px;
  font-size: 15px;
  
}
 /* .banner_article{
  flex-basis: 50%;
} */
/* .banner_aside{
  flex-basis: 50%;
} */
.cover_img{
  width: 50rem;
  height: 55rem;
  padding-right: 10px;
}